@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

* h1{
    font-family: 'Press Start 2P', sans-serif;
}

* p{
    font-family: 'Rubik', sans-serif;
}

.container{
    padding: 0px 3.5rem;
}
/* SECTION 1 */ 
.mainPicture{
    width: 100%;
    min-height: 54rem;  
    background-color: red;
    background-image: url(./Bullbanner.png);
    background-size: cover;
    overflow-x: visible;
    overflow-y: visible;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 54rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.textBoxCenter{
    position: relative;
    display: block;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 20px 50px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 54px;
}

.textBoxCenter :nth-child(1){
    margin-bottom: 2rem;
    color: #F1c30f;
}

.textBoxCenter :nth-child(2){
    margin-bottom: 20px;
    color: white;
}


.nav{
    position:sticky;
    display: grid;
    grid-template-columns: 10fr repeat(5, 1fr) 8fr 1fr; 
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    grid-template-rows: minmax(4.6rem, 4.6rem);
    width: 100%;
    box-shadow: 0px 1px 5px rgb(128, 128, 128);
}


.navImg{
    width: 220px;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 5% 10%;
    font-size: 17px;
    font-family: 'Press Start 2P', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.nav a:hover{
    text-decoration: underline rgb(203,174,255) 2px;
}

.nav a:nth-child(1){
    display:grid;
    justify-self: start;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.discord{
    display: grid;
    justify-self: end;
    width: 38px;
    margin-right: 0.5rem;
}

.instagram{
    justify-self: center;
    width: 35px;
}

.divContainer{
    padding: 0px 22rem;
}

/* SECTION 2 */ 

.secondSection{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(236, 236, 236);
    height: 41rem;
    
}

.aboutContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(32rem, 32rem);
    width: 100%;
    
}

.leftPanel h1{
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 2rem;
    font-size: 1.7rem;
}

.leftPanel p{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-bottom: 2rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #222222;
}

.rightPanel img{
    position: relative;
    align-self: center;
    max-width: 100%;
}

/* SECTION 3 */ 

.thirdSectionPicture{
    background-image: url(./Bullbanner.png);
    width: 100%;
    height: 75vh;
}

.thirdOverlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 75vh;
}
.mintContainer{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: fit-content;
    padding: 2% 2%;
    /*padding: 12rem 4.5rem;*/
}

.mintContainer h1{
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 5%;
    outline: 5px #222222 solid;
    width: fit-content;
    left:50%;
    transform: translate(-50%,0%);
    padding: 5% 10%;
    color: #222222;
    font-size: 1.5em;
}

.releaseprice{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 2%;
    font-weight: 300;
    
}

.mintContainer a button{
    font-family: 'Press Start 2P', sans-serif;
    padding: 5% 15%;
    border-radius: 50px;
    font-size: 1.3em;
    background-color: black;
    color: white;
}

.release{
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 150%;
}

.lastchild{
    margin-bottom: 2%;
}

/* CLOCK */
.clock{
    font-family: 'Press Start 2P', sans-serif;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000 ;
    width: 100%;
    padding: 4% 0%;
    color: #F1c30f;
    text-shadow: 1px 1px 7px #F1c30f;
    border-radius: 15px;
    border: 2px solid silver;
    box-shadow: 0 0 20px 2px;
    margin-bottom: 5%;
}

.clock section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.clock section p{
    font-size: 1.5rem;
}

.clock section small{
    padding-top: 8%;
    font-size: 1rem;
    color: silver;
    text-shadow: none;
}