@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

* h1{
    font-family: 'Press Start 2P', sans-serif;
}

* p{
    font-family: 'Rubik', sans-serif;
}

.container{
    padding: 0px 3%;
}
/* SECTION 1 */ 
.mainPicture{
    position: relative;
    width: 100%;
    height: 92vh;  
    background-image: url(./Bullbanner.png);
    background-size: cover;
    overflow-x: visible;
    overflow-y: visible;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 92vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.textBoxCenter{
    position: relative;
    display: block;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 4rem;

    
}

.textBoxCenter :nth-child(1){
    margin-bottom: 2rem;
    color: #F1c30f;
    
}

.textBoxCenter :nth-child(2){
    color: white;
}


.nav{
    position: relative;
    display: grid;
    grid-template-columns: 10fr repeat(5, 1fr) 7fr 1fr 1fr 1fr; 
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    grid-template-rows: minmax(4.6rem, 4.6rem);
    width: 100%;
    box-shadow: 0px 2px 5px rgb(151, 151, 151);
    z-index: 100;
    
}

.sticky{
    position: sticky;
    top:0px;
}

.navImg{
    width: 6em;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 5% 10%;
    font-size: 1.1em;
    font-family: 'Press Start 2P', sans-serif;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    transition: 0.2s ease-in-out;
    
}

.nav a:hover{
    text-shadow: 1px 1px 7px #000000;
    transition: 0.2s ease-in-out;
}

.nav a:nth-child(1){
    display:grid;
    justify-self: start;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

/* social media */

/* discord */
.nav a:nth-child(8){ 
    padding:0;
    margin:0;
    margin: 0% 0.5em;
    display: grid;
    justify-self: end;
    width: 2em;
    transition: 0.4s ease-in-out;
    color: #1d1d1d;
    transition: 0.4s ease-in-out;
}
.discord{
    transition: 0.4s ease-in-out;
}
.discord:hover{
    color: #5865F2;
    transition: 0.4s ease-in-out;
}

/* twitter */
.nav a:nth-child(9){ 
    padding:0;
    margin:0;
    margin: 0% 0.5em;
    display: grid;
    justify-self: end;
    width: 2em;
    transition: 0.4s ease-in-out;
    color: #1d1d1d;
    transition: 0.4s ease-in-out;
}
.twitter{
    transition: 0.4s ease-in-out;
}
.twitter:hover{
    color: #1DA1F2;
    transition: 0.4s ease-in-out;
}

/* insta */
.nav a:nth-child(10){ 
    padding:0;
    margin:0;
    margin: 0% 0.5em;
    display: grid;
    justify-self: end;
    width: 2em;
    transition: 0.4s ease-in-out;
    color: #1d1d1d;
    transition: 0.4s ease-in-out;
}
.instagram{
    transition: 0.4s ease-in-out;
}
.instagram:hover{
    color: rgb(131, 58, 180);
    transition: 0.4s ease-in-out;
}






/* SECTION 2 */ 

.secondSection{
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: rgb(236, 236, 236);
    padding-left: 7%;
    padding-right: 7%;

}

.aboutContainer{
    position: relative;
    left: 52%;
    transform: translateX(-50%);
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(32rem, 32rem); */
    width: 1140px;
    
}

.leftPanel{
    margin-top: 2%;
    /* display: grid;
    align-items: center;
    justify-items: center; */
    width: 50%;
}

.rightPanel{
    width: 50%;
}

.leftPanel h1{
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 4%;
    font-size: 28px;
}


.leftPanel p{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-bottom: 2rem;
    line-height: 32px;
    font-weight: 400;
    color: #222222;
    text-align: center;
    
}

.rightPanel img{
    position: relative;
    align-self: center;
    max-width: 100%;
    margin-left: 2%;
}



/* SECTION 3 */ 

.thirdSectionPicture{
    background-image: url(./Bullbanner.png);
    width: 100%;
    height: 75vh;
    background-size: cover;
}

.thirdOverlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 75vh;
}
.mintContainer{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: fit-content;
    padding: 2% 2%;
    border: 1px solid white;
    margin: 50px 0px;
    /*padding: 12rem 4.5rem;*/
}

.mintContainer h1{
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 5%;
    outline: 5px #222222 solid;
    width: fit-content;
    left:50%;
    transform: translate(-50%,0%);
    padding: 5% 10%;
    color: #222222;
    font-size: 1.5em;
}

.releaseprice{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 2%;
    font-weight: 300;
    
}

.mintContainer a button{
    font-family: 'Press Start 2P', sans-serif;
    padding: 5% 15%;
    border-radius: 50px;
    font-size: 1.3em;
    background-color: black;
    color: white;
    width: 60%;
}

.release {
    font-size: 0.95em;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 400;
    line-height: 150%;
    
}

.lastchild{
    margin-bottom: 5.5%;
}

.mintContainer a button{
    background-color: #000000;
    color: #F1c30f;
    text-shadow: 1px 1px 7px #F1c30f;
    border:none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.mintContainer a button:hover{
    background: rgb(7, 7, 7);
    color: white;
    text-shadow: 1px 1px 7px white;
    transition: 0.3s ease-in-out;
}

.lock{
    
    display: inline;
    width: 12%;
    color: #bdbdbd;
    float:right;
}

.disclaimer{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 2%;
    font-size: 0.8em;
}

/* CLOCK */
.clock{
    font-family: 'Press Start 2P', sans-serif;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000 ;
    width: 100%;
    padding: 4% 0%;
    color: #F1c30f;
    text-shadow: 1px 1px 7px #F1c30f;
    border-radius: 15px;
    border: 2px solid silver;
    box-shadow: 0 0 20px 2px;
    margin-bottom: 6%;
}

.clock section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.clock section p{
    font-size: 1.5rem;
}

.clock section small{
    padding-top: 8%;
    font-size: 1rem;
    color: silver;
    text-shadow: none;
}

/* CLOCK END */

.fourthSection{
    width: 100%;
    background: #F1c30f;
}

.rarity{
    position: relative;
    width: 60%;
    left:50%;
    transform: translateX(-50%);
    padding-bottom: 3%;
    padding-top: 3%;
}
.rarity h1{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5em;
    margin-bottom: 5%;
    color: #222222;
}

.topGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.bottomGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 85%;
    margin-left: 6.4%;
    margin-top: 5%;
}

.rarityObjects img{
    position: relative;
    width: 50%;
    background: #c9c9c9;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 50%;
}

.rarityObjects p{
    padding-top:1%;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 400;
    padding-bottom: 2%;
    color: #222222;
}

.fourthSection{
    background-color: #0f0f0f;
}
.roadmap{
    padding: 30px 300px 30px 900px;
}

.fourthSection h1{
    padding-top: 50px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #ffffff;
}
.roadmapRow{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.roadmapRow div{
    font-family: 'Press Start 2P', sans-serif;
    background-color: transparent;
    border: 2px solid #F1c30f;
    color: #F1c30f;
    font-size: 22px;
    padding: 18px 6px;
    border-radius: 18px;
}
.roadmapone div{
    padding: 18px 17px;
}
.roadmaplast div{
    font-size: 20px;
    padding: 18px 8px;
}

.roadmapRow img{
    width: 50px;
    background-color: transparent;
    
}

.roadmapRow p{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #1a1e23;
    line-height: 28px;
}

.fifthSection{
    height: 20vh;
    background-color:#222222;
}



@media only screen and (max-width: 850px){
    .textBoxCenter{
    font-size: 2rem;
}



}

@media only screen and (max-width: 1199px){
    .secondSection{
        background-color: rgb(236, 236, 236);
    }
    
    .aboutContainer{
        width: 900px;
        height: 515px;
    }
    
    .leftPanel{
        margin-top: 2%;
        width: 50%;
    }
    
    .rightPanel{
        width: 50%;
    }
    
    .leftPanel h1{
        font-size: 22px;
    }
    
    
    .leftPanel p{
        line-height: 28px;
        margin-bottom: 20px;
    }
    
    .rightPanel img{
        margin-top: 30px;
        width: 400px;
        
    }
    
    .topGrid{
        display: flex;
    }
}
