@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik:wght@300;400;500&display=swap');

html, body{
    background-color: #020d2a;
    height: 100%;
}
.whole{
    background-color: #020d2a;
    height: 100%;
}

.nav{
    display: flex;
    
}

.navMenu{
    display: none;
}

.navImg{
    width: 170px;
    padding-left: 15px;
}

.mainScreen{
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    
}

.topDivs h1{
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    line-height: 30px;
    padding: 0px 30px 40px 30px;
    font-size: 20px;
    text-align: center;
}

.mintButtonOne{
    position: relative;
    display: flex;
    background-color: white;
    padding: 13px 17px;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 0px;
    font-size: 18px;
    margin-bottom: 70px;
    margin-top: 30px;
    border-radius: 10px;
    width: fit-content;
    border: #F1c30f 3px solid ;
    color: #222222;
    box-shadow: #F1c30f 0px 0px 20px;
    transition: ease-in-out 0.4s;
}

.mintButtonOne:hover{
    color:white;
    background: transparent;
    transition: ease-in-out 0.4s;
    text-shadow: #ffffff 0px 0px 5px;
}

.mintButtonOne:hover .lock{
    color: white;
    transition: ease-in-out 0.4s;
}

.lock{
    display: flex;
    width: 17px;
    align-self: center;
    color: #222222;
    margin-left: 5px;
    transition: ease-in-out 0.4s;
}

.discord{
    
    width:25px;
    margin-right: 5px;
    color: #5865F2;
    
}

.discordButton{
    position: relative;
    display: flex;
    background-color: white;
    padding: 10px 15px;
    align-items: center;
    text-decoration: none;
    border: none;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 0px;
    font-size: 10px;
    margin-bottom: 70px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    border:#5865F2 solid 3px; 
}

.topDivs a{
    text-decoration: none;
    color: black;
}

.topDivs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.twitter{
    color: #1DA1F2;
    width: 40px;
    background-color: white;
    padding:6px;
    border-radius: 7px;
    border:#1DA1F2 solid 3px;
    margin-right: 20px; 
}

.instagram{
    color: rgb(131, 58, 180);
    width: 40px;
    background-color: white;
    padding: 5px 6px;
    border-radius: 7px;
    border:rgb(131, 58, 180) solid 3px; 
}



/* CLOCK */
.clock{
    font-family: 'Press Start 2P', sans-serif;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1c30f;
    text-shadow: 1px 1px 7px #F1c30f;
    margin-bottom: 20px;
}

.timer-container{
    display: grid;
    justify-content: center;
}

.clock section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.clock section p{
    font-size: 25px;
    
}

.clock section small{
    padding-top: 20px;
    font-size: 12px;
    color: silver;
    text-shadow: none;
    font-family: 'Rubik', sans-serif;
}

/* CLOCK END */

.aboutSection{
    display: flex;
    padding:100px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutText{
    text-align: center;
}

.transparentbull{
    width: 250px;
    margin-bottom: 50px;
}

.aboutSection div h1{
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    margin-bottom: 35px;
    font-size: 20px;
}

.aboutSection div p{
    font-family: 'Rubik', sans-serif;
    color: white;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 40px;
}

.aboutSection div a{
    position: relative;
    font-family: 'Press Start 2P', sans-serif;
    text-decoration: none;
    color: black;
    background-color: white;
    letter-spacing: 0px;
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    padding-bottom: 10px;
    border:#F1c30f solid 3px ;
    
}

.astrobull{
    display:none;
}


.bullgif{
    width: 250px;
    border-radius: 10px;
}

.comboSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.combo{
    display: flex;
    padding: 50px 50px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.circle{
    
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 0px;
    background: #F1c30f;
    box-shadow: rgb(255, 255, 255) 0px 0px 15px;
    margin:13px 8px;
    border-radius: 10px;
    width: 120px;
    padding: 6px 0px;
}

.circle h1{
    font-size: 11px;
    margin-bottom: 7px;
}

.circle p{
    font-size: 7px;
}



.phaseh1{
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}
.phaseText{
    text-align: center;
}
.phaseText h1{
    color: #ffffff;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 14px;
    margin-bottom: 7px;
}

.phaseP{
    color: rgb(124, 124, 124);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.phaseimg{
    width: 175px;
    align-items: center;
}

.phaseText p:last-child{
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    line-height: 17px;
}

.phases{
    padding: 0px 20px;
    
}

.phase{
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    gap: 10px;
}

.imglast{
    flex-direction: row-reverse;
}


.teambull{
    width: 125px;
    background-color: #222222;
    border-radius: 50%;
    border: #ffffff 5px solid;
}

.teamTitle{
    padding-top: 25px;
    padding-bottom: 40px;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}

.team{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    padding-bottom: 20px;
    text-align: center;
    }

    .team h1{
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 14px;
    margin: 5px 0px;
    }

    .team p{
    color: rgb(214, 214, 214);
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    }

    .teammate{
    margin: 20px;
    }

    .faq{
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    margin: 30px 0px;
    text-align: center;
    }

    .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 0rem auto;
    font-family: 'Rubik', sans-serif;
    padding-bottom: 100px;
    text-align: center;
  }
  .accordion-item {
    background-color: rgb(34, 34, 34);
    color: rgb(214, 214, 214);
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #F1c30f, transparent) 1;
  }


  .actionSection{
    background-color: #01040e;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
  }

  .actionSection h1{
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    margin: 30px 0px;
    line-height: 30px;
    padding-top: 35px;
  }

  .actionSection p{
    color: rgb(221, 221, 221);
    font-family: 'Rubik', sans-serif;
    line-height: 28px;
    margin-bottom: 25px;
  }

  .actionSection button{
      padding: 18px;
      display: block;
      width: 200px;
      border: none;
      margin-bottom: 10px;
      border-radius: 7px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
  }
  .actionSection a{
    text-decoration: none;
  }
  .joinDiscord{
    background: #5865F2;
    color: whitesmoke;
    transition: ease-in-out 0.4s;
  }

  .joinDiscord:hover{
      background-color: #4752c7;
      transition: ease-in-out 0.4s;
  }
  .comingSoon{
      background: #F1c30f;
      color: rgb(0, 0, 0);
      transition: ease-in-out 0.4s;
  }
  .comingSoon:hover{
      background-color: #bd990b;
      transition: ease-in-out 0.4s;
  }


  .footerSection{
      padding-bottom: 25px;
      text-align: center;
  }
  .footerSection p{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
   }

  .footerLogo{
      margin-top: 50px;
      width: 250px;
  }

  
  .footerPraise{
      color: rgb(175, 175, 175);
      font-size: 13px;
      margin-bottom: 75px;
  }

  .smartcontractText{
      color: rgb(211, 211, 211);
      font-weight: 500;
      margin-bottom: 10px;
      
  }

  .smartcontractCode{
      position: relative;
      background: rgb(34, 34, 34);
      width: fit-content;
      left:50%;
      transform: translateX(-50%);
      padding: 10px 20px;
      
      border-radius: 7px;
      color: rgb(211, 211, 211);
      margin-bottom: 50px;
      font-size: 12px;
  }

  

  .socialmediaFooter{
    width: 45px;
    background-color: rgb(241, 241, 241);
    padding: 7px;
    border-radius: 10px;
    height: 45px;
    margin-top: 10px;
    
  }


  .discordFooter{
    color: rgb(20, 20, 20);
    transition: ease-in-out 0.35s;
  }
    .discordFooter:hover{
    color: #5865F2;
    transition: ease-in-out 0.35s;
    }

  .twitterFooter{
      color: rgb(20, 20, 20);
      margin: 0px 20px;
      transition: ease-in-out 0.35s;
  }
  .twitterFooter:hover{
    color: #1DA1F2;
    margin: 0px 20px;
    transition: ease-in-out 0.35s;
    }

  .instagramFooter{
      color: rgb(20, 20, 20);
      transition: ease-in-out 0.35s;
  }
  .instagramFooter:hover{
    color: rgb(131, 58, 180);
    transition: ease-in-out 0.35s;
    }

    .gridImg{
        display: none;
    }

    @media (min-width: 1000px){

        .navImg{
            width: 225px;
            margin-left: 50px;
        }
        .nav{
            top: 0;
            position: sticky;
            background-color: #020c29d8;
            z-index: 100;
            backdrop-filter: blur(10px);
            border-top: #F1c30f 2px solid;
            
        }
        .navMenu{
            display: block;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
            margin-right: 100px;
            padding: 30px 0px;
        }

        .navMenu a{
            text-decoration: none;
            font-family: 'Press Start 2P', sans-serif;
            font-weight: 400;
            color:#ffffff;
            margin-right: 50px;
            font-size: 16px;
            padding: 2px;
        }

        .navMenu a:hover{
            text-shadow: #ffffff 0px 0px 5px;
            
        }
        
        .navMint{
            color: black;
            border: 3px solid white;
            padding:10px;
            border-radius: 5px;
            font-size: 16px;
            transition: ease-in-out 0.4s;
            background: white;
        }
    
        .navMint:hover{
            background-color: transparent;
            border: 3px solid #ffffff;
            color: white;
            transition: ease-in-out 0.4s;
        }

        .linkMint a{
            color: black;
            border: 3px solid white;
            padding:10px;
            border-radius: 5px;
            font-size: 16px;
            transition: ease-in-out 0.4s;
            background: white;
        }

        .gridImg{
            
            display: block;
            
        }
        .gridImgAstro{
            width: 600px;

        }
        
        .mainScreen{
            margin-top: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            padding: 0px 150px;
            align-items: center;
            
        }
        
        .topDivs{
            background-color: #01040e;
            border-radius: 30px;
            padding: 70px 0px;
        }


        .topDivs h1{
            font-size: 22px;
        }

        /* CLOCK */
        .clock section{
            padding: 10px 20px;
        }

        .clock section p{
            font-size: 37px;

        }

        .clock section small{
            padding-top: 25px;
            font-size: 15px;
        }

        /* CLOCK END */

        .mintButtonOne{
            font-size: 20px;
        }
        .discordButton{
            font-size: 13px;
        }

        
        .discord{
            width: 30px;
            margin-right: 10px;
        }

        .twitter{
            width: 45px;
            height: 45px;
        }

        .instagram{
            width: 45px;
            height: 45px;
        }


        .aboutSection{
            padding-top: 150px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
        }
        .astrobull{
            display: block;
            width: 500px;
        }

        .transparentbull{
            width: 500px;
        }

        
        .aboutSection div h1{
            font-size: 30px;
            text-align: center;
        }

        .aboutSection div p{
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 50px;
            text-align: center;
        }

        .aboutSection div a{
            font-size: 15px;
            width: fit-content;
        }

        .aboutText{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .comboSection{
            padding: 40px 0px;
            background-color: #01040e;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .bullgif{
            width: 400px;
        }

        .circle{
            width: fit-content;
            padding:15px 12px;
            margin:13px 20px;
            text-align: center;
        }
        .circle h1{
            font-size: 20px;
        }
        .circle p{
            font-size: 8px;
        }
        
        .phaseh1{
            font-size: 30px;
            text-align: center;
        }

        .phases{
            display: flex;
            flex-direction: column;
            margin: 0px 25%;
            padding: 10px 100px;
            margin-bottom: 1px;
            background-color: #01040e;
            margin-bottom: 50px;
            border-radius: 30px;
            text-align: center;
        }

        .phaseText h1{
            font-size: 18px;
            margin-bottom: 10px;
        }

        .phaseP{
            font-size: 10px;
            margin-bottom: 10px;
        }

        .phaseText:last-child{
            font-size: 16px;
        }

        .phase{
            margin-bottom: 50px;
            gap: 10px;
        }

        .phaseimg{
            width: 250px;
        }



        .teamTitle{
            font-size: 30px;
            text-align: center;
        }

        .teamSection{
            background-color: #01040e;
            padding-top: 30px;
        }

        .teammate img{
            width: 160px;
        }
        .teammate h1{
            font-size: 20px;
        }
        .teammate p{
            font-size: 13px;
        }

        .faq{
            font-size: 30px;
            padding-top: 30px;
        }

        .actionSection h1{
            font-size: 30px;
        }
        .actionSection p{
            font-size: 18px;
            padding: 20px 25%;
        }
        .smartcontractCode{
            font-size: 16px;
        }
    }